* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:'Times New Roman',Ariel, sans-serif;
  margin: 0 3vw; /* RWD */
}

img.logo{
  padding-top: 1vh; /* RWD */
  padding-left: 1vw; /* RWD */
  padding-right: 1vw; /* RWD */
  display:inline-block;
  width:30vw;
}

.title{
  text-align:center;
  display:inline-block;
  font-size: 7vw; /* RWD */
  font-weight: bold;
  margin:0;
  max-width:50vw;
}


nav.nav{
  vertical-align: middle;
}

.nav a {
  text-decoration: none;
  color: inherit;
  margin: 0 3vw; /* RWD */
  display:inline;
  font-size:3vw;
}
.nav a.active {
  font-weight: bold;
  border-bottom: 1vw solid cyan;
}

img.ict{
  display:inline-block;
  width:42vw;
}

h2.about{
  margin-top:1vw;
  margin-bottom:1vw;
  font-size:5vw;
}
p.atext{
  margin-top:1vw;
  font-size:3vw;
  display:inline;
}
div.C{
  height:3vw;
}
h3.res{
  font-size:5vw;
  margin-top:2vw;
}
a.bict{
  display:inline;
  font-size:3vw;
  color:darkolivegreen;
}
h2.edw{
  margin-top:3vw;
  font-size:5vw;
}
p.edwt{
  margin:3vw 0;
  font-size:3vw;
}
p.pex{
  font-size:3vw;
}
img.edp{
  width:50vw;
  margin-top:2vw;
  display:inline-block;
}
img.edpo{
  width:38vw;
  margin-top:2vw;
  display:inline-block;
}
h2.rba{
  margin-top:3vw;
  font-size:5vw;
}
p.rbp{
  margin-top:3vw;
  font-size:3vw;
  display:inline;
}
a.eict{
  display:block;
  font-size:3vw;
  color:darkblue;
}
img.rbc{
  width:50vw;
  margin-top:2vw;
  display:inline-block;
}
img.rbr{
  width:38vw;
  margin-top:2vw;
  display:inline-block;
h2.astt{
  margin-top:3vw;
  font-size:5vw;
}
p.astp{
  margin-top:3vw;
  font-size:3vw;
}
  
img.stf{
  width:20vw;
  margin-top:3vw;
  display:inline-block;
}
  
img.stfa{
  width:20vw;
  margin-top:3vw;
  display:inline-block;
}



@media screen and (maxwidth:800px){.
                                  {
                                    
                                  }
  
}
